# Dependências
**/vendor/
**/node_modules/

# Arquivos de Sistema e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/*.log
*.swp
*.swo

# Logs e Debug
npm-debug.log
yarn-error.log
*.log

# Env
**/.env
**/.env.backup
**/.env.production
auth.json

# Laravel
**/storage/*.key

# Ignora o link simbólico de storage na pasta public
**/public/storage
**/public/hot
**/public/build

# Cache do PHPUnit
.phpunit.result.cache
.phpunit.cache/

# Laravel Pail (Logs em tempo real)
**/storage/pail

# Arquivos gerados pelo indexador de PHP
**/.phpactor.json
