name: php_studies_project

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
    driver: local

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    container_name: php_app
    ports:
      - "8080:80"
    volumes:
      - ..:/var/www/html:z
    depends_on:
      - db
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    deploy:
      resources:
        limits:
          cpus: "2.00"
          memory: 1024M
        reservations:
          cpus: "0.10"
          memory: 512M

  db:
    image: postgres:16-alpine
    container_name: php_db
    ports:
      - "5432:5432"
    env_file:
      - ../.env
    volumes:
      - db_data:/var/lib/postgresql/data:z
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
        reservations:
          cpus: "0.05"
          memory: 256M
